<div class="bs-example" ng-controller="resetpasswordController">
	<p>
		<span>输入旧的密码</span><input type="text" ng-model="oldPwd" />
	</p>
	<p>
		<span>输入新的密码</span><input type="text" ng-model="newPwd" />
	</p>
	<input type="button" value="提交确认" ng-click="resetPwd()"/>
</div>
	
<script type="text/javascript">
	dwAPP.register.controller('resetpasswordController', ['$scope', '$http', function ($scope, $http) {
		$scope.resetPwd = function(){
		$http.post('libs/php/s-resetPwd.php',{
//			account:$scope.account,
			oldPwd:$scope.oldPwd,
			newPwd:$scope.newPwd
		}).success(function(response){
			if(response.state){				
				alert(response.message);
				window.location.href = "s-login.html";
			}else{
				alert(response.message);
			}				
		});
	};
}])
</script>