<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="libs/jquery-confirm/css/jquery-confirm.css"/>
		<link rel="stylesheet" type="text/css" href="libs/dist/css/all.min.css"/>
		
		<script src="libs/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/jquery-confirm/js/jquery-confirm.js" type="text/javascript" charset="utf-8"></script>
		<script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/angular/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/dist/js/jqall.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/dist/es6js/all.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="userinfo" ng-controller="userinfoCtrl">
		<header>
			<a href="javascript:window.history.go(-1)">
				<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
			</a>
			<div>个人资料</div>
			<a href="javascript:;" class="more">
				<i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
			</a>
		</header>
		
		<div class="content">
			<div><span ng-bind="account"></span></div>
			<h5>修改密码</h5>
			<div>
				<p>
					<span>输入旧的密码</span><input type="text" ng-model="oldPwd" />
				</p>
				<p>
					<span>输入新的密码</span><input type="text" ng-model="newPwd" />
				</p>
				<input type="button" value="提交确认" ng-click="resetPwd()"/>
			</div>
		</div>
		
		<footer>
			<div class="border"></div>
			<a href="mobileMall.html">
				<i class="fa fa-home fa-2x"></i>
				<span>首页</span>
			</a>
			<a href="products.html">
				<i class="fa fa-braille fa-2x"></i>
				<span>列表</span>
			</a>
			<a href="shoppingCart.html">
				<i class="fa fa-shopping-cart fa-2x"></i>
				<span>购物车</span>
			</a>
			<a href="user.html" class="footerBtn">
				<i class="fa fa-user-circle-o fa-2x"></i>
				<span>会员中心</span>
			</a>			
		</footer>
		<div class="morelist">
			<ul>
				<li>
					<a href="mobileMall.html">首页</a>
				</li>
				<li>
					<a href="ng-products.html">产品列表</a>
				</li>
				<li>
					<a href="shoppingCart.html">购物车</a>
				</li>
				<li>
					<a href="user.html">会员中心</a>
				</li>
			</ul>
		</div>
	</body>
</html>
